<div class="view-container">
	<ul class="reset weekplan-list">
		<li>
			<div class="weekday-header">Monday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Tuesday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Wednesday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Thursday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Friday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Saturday</div>
			<div class="weekday-content">Test</div>
		</li>
		<li>
			<div class="weekday-header">Sunday</div>
			<div class="weekday-content">Test</div>
		</li>
		
	</ul>
</div>